//primary style file
@import "../../bourbon/_bourbon.scss";
@import "../../neat/_neat.scss";
@import "variables.scss";

body {
  //some sensible resets
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 62.5%;
  font-family: 'Sofia Pro', 'Futura', 'Helvetica', sans-serif;
  border-left: 4px solid $dark-blue;  
}
