//foundational color
$dark:		#212D3D;
$light:		#8DB8ED;

//variations
$middle:	#243348;
$darkest:	#051121;




//type
$sans:	"sofia-pro", "Sofia Pro", sans-serif;
$serif: "athelas", serif;

//typesetting
$baseline:	16px;
$line-height: 2.7rem;

//styles

//weights
$medi:	500;
$semi:	600;



//background stuff
@mixin background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}